.ipynb_checkpoints
.DS_Store
NY_baseline_metadata_and_annual_results.csv
NY_baseline_metadata_and_annual_results.xlsx
parquet
grid_edge_fy25/data/resstock_models
NREL
grid_edge_fy25/data/data_dictionary.csv
grid_edge_fy25/data/data_dictionary.xlsx
results
data
data/resstock_models